.cards-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 2rem 0;
  scroll-snap-type: x mandatory;
}

.cards-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 360px;
  min-width: 360px;
  min-height: 320px;
  margin: 0 1.5rem;
  background: #EFF1F9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.4s ease-in-out;
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #cccccc77;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #027FB7;
  
  z-index: 1;
  transition: right 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.card:hover::after {
  right: 0;
}

.card-body,
.icon,
.card-title,
.card-text {
  position: relative;
  z-index: 2;
}

.icon {
  color: #2196f3;
  transition: transform 0.3s ease;
}

.card:hover .icon {
  transform: scale(1.1);
  color: #2196f3;
}

.card-title {
  color: #004868;
  margin: 1.5rem 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card-title span {
  position: relative;
  z-index: 2;
}

.card-icon {
  border: 3px solid #004868;
  border-radius: 100%;
  padding: 0.5rem;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
  box-sizing: border-box;
}

.icon-inner img {
  width: 40px;
  object-fit: contain;
  bottom: -7px;
  display: block;
}




.card-text {
  color: #546e7a;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .icon {
  color: #fff !important;
  
  
}
.card:hover .card-icon {
  border-color: #fff;
  background: #004868;

}
.card:hover .icon-inner {
  filter: brightness(0) invert(1);
  animation: flipX 0.5s;  
}

@keyframes flipX {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 300px;
    min-width: 300px;
    min-height: 300px;
  }
}
